html {
    height: 100%;
}
body {
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
	/*height: 100vh;*/
	background: linear-gradient(#662D8C,#ED1E79);
	background-size: 200% 200%;
	font-family: 'Open Sans', sans-serif;
}

main {
	/*height: 100vh;*/
	/*padding-top: 3vh; */
	margin-top: 5vh;
	display: flex;
	justify-content: center; 
	align-items: left;
	flex-direction: column;
}

.ui.segment{
	width: 90vw;
	align-self: center;
	background-image: url("images/background.png");
}

.ui.column{
	align-self: center;
	margin:1vw 2vw;
	background-color: white;
	background-image: url("images/background.png") !important;
}

.vform{
	margin-top: 5em !important;
	width: 18em !important;
	background: white !important;
	padding: 0.5em !important;
}

h2{
	text-align: center;
}
p {
	font-size: 1.1em;
}

label{
	/*color: white !important;*/
}
form {
	margin: 1vw 10vw;
	/*align-self: center;*/
}

.ui.button{
	width: 10em;
}

.dets{
	margin-top: 10vh;
	margin-left: 1vw;
}

@media scree